<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div id="main">
    <a href="/">Home</a> |
    <a href="/foo">Foo</a>
    
    <br /><br /><br />
    <div id="results"></div>
</div>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/hilary/release/hilary.js"></script>
<script src="/bower_components/hilary/release/hilary.jQueryEventEmitter.js"></script>
<script src="/scripts/myFactory.js"></script>
<script src="/scripts/module1.js"></script>
<script src="/scripts/module2.js"></script>
<script src="/scripts/startup.js"></script>
