<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<script src="/src/hilary.js"></script>
<script src="/src/hilary.amd.js"></script>
<!--<script src="/src/hilary.loader.js"></script>-->
<script src="/scripts/def.js"></script>
<script src="/scripts/module1.js"></script>
<script src="/scripts/module2.js"></script>
<script src="/scripts/app.js"></script>
